# Luther Project

## WebScraping Movie Data

#### Step 1: Selenium - Navigate for data

#### Step 2: Request - Pull HTML

In [2]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd
import pickle

In [3]:
# def pull_oscars():
def save_pages():
    yr_min = 1980
    yr_max = 2015
    for yr in range(yr_min,yr_max+1):
        url = "http://www.boxofficemojo.com/oscar/chart/?yr="+str(yr)+"&view=allmovies&p=.htm"
        data = requests.get(url).text
        file_name = str(yr)+'_oscars.pkl'
        output = open(file_name,'wb')
        pickle.dump(data, output)
        output.close()

In [4]:
from lxml import html

# Visualisation utils
import IPython.display
def display_html(string, script = False, iframe = False, style  = False):
    '''Display HTML string in iPython notebook. <script> tags are removed by default.'''
    root = html.fromstring(string) 
    if not script:
        for element in root.iter("script"):
            element.drop_tree()
    if not iframe:
        for element in root.iter("iframe"):
            element.drop_tree()
    if not style:
        for element in root.iter("style"):
            element.drop_tree()
        for element in root.iter("link"):
            if element.attrib['rel'] == "stylesheet":
                element.drop_tree()
    IPython.display.display(IPython.display.HTML(html.tostring(root).decode('utf-8')))

In [5]:
def pull_page(yr):
    url = "http://www.boxofficemojo.com/oscar/chart/?yr="+str(yr)+"&view=allmovies&p=.htm"
    data = requests.get(url).text
    return data

def make_soup(data):
    soup = BeautifulSoup(data,"lxml")
    return soup

In [170]:
page = html.fromstring(pull_mpage(2014,8))
# display_html(html.tostring(page.cssselect('table table table')[1]))

df = pd.read_html(html.tostring(page.cssselect('table table table')[1]),header=0)[0]
# http://www.the-numbers.com/movie/budgets/all
def pull_page(yr):
    url = "http://www.boxofficemojo.com/oscar/chart/?yr="+str(yr)+"&view=allmovies&p=.htm"
    data = requests.get(url).text
    return data
page = html.fromstring(pull_page(i))
url = 'http://www.the-numbers.com/movie/budgets/all'
page = html.fromstring(requests.get(url).text)
df = pd.read_html(html.tostring(page.cssselect('table')[0]))


# df.drop(df.head(3).index, inplace=True)
df.columns = ["Rank","Movie Title","Studio", "Total_Gross","Theaters", "Opening","Theaters","Open","Close"]
df = df.drop(0)
df = df.ix[df.index[:-3]]

# df = df.drop(df.ix[3:])
# df_list = []
# for i in range(1980,2016):
#     page = html.fromstring(pull_page(i))
#     df = pd.read_html(html.tostring(page.cssselect('table table')[0]),header=0)[0].drop('Row',axis=1)
#     df['Year'] = i
#     df_list.append(df)

In [ ]:
df = df.drop(df.ix[3:])
df_list = []
for i in range(1980,2016):
    page = html.fromstring(pull_page(i))
    df = pd.read_html(html.tostring(page.cssselect('table table')[0]),header=0)[0].drop('Row',axis=1)
    df['Year'] = i
    df_list.append(df)

In [171]:
df

,Rank,Movie Title,Studio,Total_Gross,Theaters,Opening,Theaters,Open,Close
1,701,Cinemanovels,Mont.,$398,NaN,NaN,NaN,7/3,-
2,702,"Mummy, I'm a Zombie",P4,$120,NaN,NaN,NaN,9/20,-

In [168]:
df = df.ix[df.index[:-3]]
# df.index[:-3]

In [169]:
df.head()

,Rank,Movie Title,Studio,Total_Gross,Theaters,Opening,Theaters,Open,Close
1,701,Cinemanovels,Mont.,$398,NaN,NaN,NaN,7/3,-
2,702,"Mummy, I'm a Zombie",P4,$120,NaN,NaN,NaN,9/20,-

In [87]:
full = pd.concat(df_list)

In [89]:
full.head(10)

   YRRank*  Picture (click to view) Studio    Box Office  Noms  Wins  Year
0       11          Ordinary People   Par.   $54,766,923     7     4  1980
1       33                     Tess   Col.   $20,093,330     6     3  1980
2       27              Raging Bull    MGM   $23,334,953     8     2  1980
3       32              Fame (1980)    MGM   $21,202,829     6     2  1980
4       86        Melvin and Howard   Uni.    $4,309,490     3     2  1980
5        7    Coal Miner's Daughter   Uni.   $67,182,787     7     1  1980
6        1  The Empire Strikes Back    Fox  $209,398,025     3     1  1980
7       25         The Elephant Man   Par.   $26,010,864     8     0  1980
8        6         Private Benjamin     WB   $69,847,348     3     0  1980
9       75            The Stunt Man    Fox    $7,063,886     3     0  1980

In [6]:
def pull_mpage(yr,pg):
    url = "http://www.boxofficemojo.com/yearly/chart/?page="+str(pg)+"&view=releasedate&view2=domestic&yr="+str(yr)+"&p=.htm"    
    data = requests.get(url).text
    return data
# http://www.boxofficemojo.com/yearly/chart/?yr=1979&view=releasedate&view2=domestic&sort=gross&order=DESC&&p=.htm

In [ ]:

mdf_list = []
for i in range(1980,2016):
    page = html.fromstring(pull_mpage(i))
    df = pd.read_html(html.tostring(page.cssselect('table table')[0]),header=0)[0].drop('Row',axis=1)
    df['Year'] = i
    mdf_list.append(df)

In [183]:

page = html.fromstring(pull_mpage(2014,1))
# display_html(html.tostring(page.cssselect('table table table')[1]))
# if 
df = pd.read_html(html.tostring(page.cssselect('table table table')[1]),header=0)[0]
# df.drop(df.head(3).index, inplace=True)
df.columns = ["Rank","Movie Title","Studio", "Total_Gross","Theaters", "Opening","Theaters","Open","Close"]
df = df.drop(0)
df = df.ix[df.index[:-3]]

In [212]:
## 2002 first year they add 'close' column to table. 
# for yr in range(1980,2016):

nmdf_list = []
for yr in range(2002,2016):
    pg = 1
    page = html.fromstring(pull_mpage(yr,pg))
    tables = page.cssselect('table table table')
    while len(tables) > 0 :
        df = pd.read_html(html.tostring(tables[1]),header=0)[0]
        df.columns = ["Rank","Movie Title","Studio", "Total_Gross","Theaters", "Opening","Theaters","Open","Close"]
        df = df.ix[df.index[1:-3]]
        
        df['Year'] = yr
        nmdf_list.append(df)
        
        pg += 1
        page = html.fromstring(pull_mpage(yr,pg))
        tables = page.cssselect('table table table')

In [378]:
# earl = earl.append(mdf_list,)
from dogpile.cache import make_region

cache = make_region().configure(
    'dogpile.cache.memory',
    expiration_time = 24*2600
)

ImportError: No module named dogpile.cache

In [380]:
import dogpile.cache

ImportError: No module named dogpile.cache

In [377]:
# earl.to_pickle('1980to2002movie_data.pkl')
# ok.to_pickle('2002to2016movie_data.pkl')
# full.to_pickle('oscars.pkl')

In [223]:
earl.head()

,Rank,Movie Title,Studio,Total_Gross,Theaters,Opening,Theaters,Open,Year
1,1,The Empire Strikes Back,Fox,"$209,398,025",1278,"$4,910,483",126,5/21,1980
2,2,9 to 5,Fox,"$103,290,500",NaN,"$3,966,832",910,12/19,1980
3,3,Stir Crazy,Col.,"$101,300,000",NaN,"$8,691,886",813,12/12,1980
4,4,Airplane!,Par.,"$83,453,539",NaN,NaN,NaN,6/27,1980
5,5,Any Which Way You Can,WB,"$70,687,344",NaN,"$8,024,663",1541,12/17,1980

In [348]:
ok.head()

,Rank,Movie Title,Studio,Total_Gross,Theaters,Opening,Theaters,Open,Close,Year
1,1,Spider-Man,Sony,"$403,706,375",3876,"$114,844,116",3615,5/3,8/18,2002
2,2,The Lord of the Rings: The Two Towers,NL,"$339,789,881",3622,"$62,007,528",3622,12/18,8/24,2002
3,3,Star Wars: Episode II - Attack of the Clones,Fox,"$302,191,252",3161,"$80,027,814",3161,5/16,11/3,2002
4,4,Harry Potter and the Chamber of Secrets,WB,"$261,988,482",3682,"$88,357,488",3682,11/15,5/4,2002
5,5,My Big Fat Greek Wedding,IFC,"$241,438,208",2016,"$597,362",108,4/19,4/13,2002

In [356]:
oktitle = list(ok['Movie Title'].values)
earltitle = list(earl['Movie Title'].values)

In [357]:
titless = oktitle+earltitle

In [362]:
TitleSeries = pd.Series(titless)

0                                      Spider-Man
1           The Lord of the Rings: The Two Towers
2    Star Wars: Episode II - Attack of the Clones
3         Harry Potter and the Chamber of Secrets
4                        My Big Fat Greek Wedding
dtype: object

In [236]:
"ftp://ftp.fu-berlin.de/pub/misc/movies/database/ratings.list.gz"
'/Users/ingrid/Desktop/METIS/Projects/Luther/movie_data/data/ratings.list.gz'
import gzip
import requests
import requests_ftp
# ratingsgz = requests.get("ftp://ftp.fu-berlin.de/pub/misc/movies/database/ratings.list.gz")
with gzip.open('/Users/ingrid/Desktop/METIS/Projects/Luther/movie_data/data/ratings.list.gz', 'rb') as f:
    file_content = f.read()
lines = file_content.split('\n')

In [241]:
import os
import sys
import re
import urllib
import urlparse
from mechanize import Browser
from BeautifulSoup import BeautifulSoup

In [11]:
# title = "The Empire Strikes Back"
title = "Zoolander"
# title= "gigoirjoij3goij"
BASE_URL = 'http://www.imdb.com'
movie = '+'.join(title.split())
url = "%s/find?s=tt&q=%s" % (BASE_URL, title)
# print url
movie_list = imdb_data(title)
# page.cssselect('table'
# movie_list = page.cssselect('table.findList tr td.result_text a')
# display_html(html.tostring(page.cssselect('table.findList tr td.result_text')[0])
# html.tostring(




if len(movie_list) >0:
    movie_link = movie_list[0].get('href')
    movie_page_url = BASE_URL + movie_link
    next_page = html.fromstring(requests.get(movie_page_url).text)
#     display_html(html.tostring(next_page.cssselect('table div[class=star-box-details]')[0]))
#     rating_css - 

    print next_page.cssselect('table div[class=star-box-details] span[itemprop=ratingValue]')[0].text_content()
    print next_page.cssselect('table div[class=star-box-details] span[itemprop=ratingCount]')[0].text_content()
    print next_page.cssselect('table div[class=star-box-details] a[href="criticreviews?ref_=tt_ov_rt"]')[0].text_content()
    print next_page.cssselect('table div[itemprop="director"] span[itemprop=name]')[0].text_content()
#     for name in next_page.cssselect('table div[itemprop="creator"] span[itemprop=name]'):
#         print name.text_content()
    user_iterator = next_page.cssselect('table div[itemprop="creator"] span[itemprop=name]')
    user_list = [user.text_content() for user in user_iterator]
    print user_list
    genres = next_page.cssselect('table div[class=infobar] span[itemprop="genre"]')
    genre_list = tuple([genre.text_content() for genre in genres])
    print genre_list
    rating = next_page.cssselect('table div[class=infobar] meta')[0].get('content')
    print rating

    actors = next_page.cssselect('table div[itemprop="actors"] span[itemprop=name]')
    actor_list = [actor.text_content() for actor in actors]
    print actor_list
#     for name in next_page.cssselect('table div[itemprop="actors"] span[itemprop=name]'):
#         print name.text_content()

columns=["IMDB_Score","Users","Metascore","Director","Writers","Actors"]

#     display_html(html.tostring(next_page.cssselect('table div[itemprop="director"]')[0]))
#     display_html(html.tostring(next_page.cssselect('table div[itemprop="creator"]')[0]))
#     display_html(html.tostring(next_page.cssselect('table div[itemprop="actors"] ')[0]))

#     display_html(html.tostring(next_page.cssselect('table ')[0]))
# div[itemprop="headline"] 
    # imdb_rating(title)

6.6
184,526
 61/100

Ben Stiller
['Drake Sather', 'Ben Stiller']
('Comedy',)
PG-13
['Ben Stiller', 'Owen Wilson', 'Christine Taylor']

In [9]:
# @cache.cache_on_arguments()
def imdb_data(title):
    BASE_URL = 'http://www.imdb.com'
    movie = '+'.join(title.split())
    url = "%s/find?s=tt&q=%s" % (BASE_URL, movie)
    page = html.fromstring(requests.get(url).text)
    movie_list = page.cssselect('table.findList tr td.result_text a')
    return movie_list

def imdb_page(movie_list):
#     if len(movie_list) >0:
    movie_link = movie_list[0].get('href')
    movie_page_url = BASE_URL + movie_link
    next_page = html.fromstring(requests.get(movie_page_url).text)
    return next_page

def imdb_pull(next_page):
    imdb_rating = next_page.cssselect('table div[class=star-box-details] span[itemprop=ratingValue]')[0].text_content()
    users = next_page.cssselect('table div[class=star-box-details] span[itemprop=ratingCount]')[0].text_content()
    metascore = next_page.cssselect('table div[class=star-box-details] a[href="criticreviews?ref_=tt_ov_rt"]')[0].text_content()
    director = next_page.cssselect('table div[itemprop="director"] span[itemprop=name]')[0].text_content()
    
    writers = next_page.cssselect('table div[itemprop="creator"] span[itemprop=name]')
    writer_list = tuple([writer.text_content() for writer in writers])
    
    actors = next_page.cssselect('table div[itemprop="actors"] span[itemprop=name]')
    actor_list = tuple([actor.text_content() for actor in actors])
    return [imdb_rating, users, metascore, director, writer_list, actor_list]

In [ ]:
# titless
title = "Spider-man"
movie_list = imdb_data(title) 
if len(movie_list) > 0:
    next_page = imdb_page(movie_list)
    row = imdb_pull(next_page)

In [381]:
len(titless)

13719

In [252]:
br.open(url)
if re.search(r'/title/tt.*', br.geturl()):
    aurl = "%s://%s%s" % urlparse.urlparse(br.geturl())[:3]
    soup = BeautifulSoup( MyOpener().open(url).read() )

In [255]:
br.geturl()

'http://www.imdb.com/find?s=tt&q=The+Empire+Strikes+Back'

In [246]:
'+'.join(title.split())

'The+Empire+Strikes+Back'

In [384]:
len(TitleSeries)

13719

In [417]:
columns=["IMDB_Score","Users","Metascore","Director","Writers","Actors"]
dictionary = dict(zip(columns,row))
imdb_df =pd.DataFrame(columns=columns) 
dictionary['Title'] = title
imdb_df = imdb_df.append(dictionary, ignore_index=True)
# imdb_df['Title'] = title
# imdb_df.append({"IMDB_Score":row[0], "Users":row[1], "Metascore":row[2], "Director":row[3], "Writers":row[4], "Actors":row[5]}, ignore_index=True)
# imdb_df.append(row, ignore_index=True)
# dictionary = dict(zip(columns,row))
# print dictionary
# jwei = pd.DataFrame.from_dict(dictionary,orient='columns') 
# imdb_df.append(row)
# row

In [415]:
imdb_df

,IMDB_Score,Users,Metascore,Director,Writers,Actors,Title
0,7.3,"515,967",73/100\n,Sam Raimi,"(Stan Lee, Steve Ditko)","(Tobey Maguire, Kirsten Dunst, Willem Dafoe)",Spider-man

In [400]:
dict(zip(columns,row))

{'Actors': ('Tobey Maguire', 'Kirsten Dunst', 'Willem Dafoe'),
 'Director': 'Sam Raimi',
 'IMDB_Score': '7.3',
 'Metascore': ' 73/100\n',
 'Users': '515,967',
 'Writers': ('Stan Lee', 'Steve Ditko')}

In [346]:
# lines[0:6000]

#### Step 3: Pickling - Store each page {and keep track of which pages have been pulled from}

#### Step 4: BeautifulSoup - Pull HTML into database / table

## WebScraping Alternatives 
    - Google Trends {searches} 
    - IMDB {review scores, oscar nominations, cast}
    - Rotten Tomatoes {review scores}...
    - Oscar nominations

## Data Analysis - Exploratory
1. Import
2. Create Object
3. fit the model
4. predict

### 1. Sklearn
   reshape,fit_transform
### 2. Statsmodels
### 3. Scikit learn

## Features 
##### how do we decide which ones to keep / modify to give better performance?

##### 1: Movie Ratings vs # of Oscar nominations
##### 2: Oscars vs # movies by director
##### 3: Budget vs # Oscars | Profits vs # Oscars
##### 4: Budget vs movie ratings {grouped by genre}
##### 5: Budget vs year produced
##### 6: Google trends vs Profits | Gross Income | Ratings vs Oscars
##### 7: # Movies with CGI vs time 
##### 8: Location, Actors, Time of Year

#### OSCAR NOMS ####

##### http://www.boxofficemojo.com/oscar/chart/?yr=2015&view=allmovies&p=.htm ## change the yr= from 1980 to 2015 
##### http://www.boxofficemojo.com/oscar/?sort=numnoms&order=DESC&p=.htm

# TOOLS :
http://scikit-learn.org/stable/supervised_learning.html#supervised-learning

In [ ]:
from patsy import dmatrices
import pandas as pd
url = "http://data.princeton.edu/wws509/datasets/salary.dat"
data = pd.read_csv(url, sep='\s+')

In [ ]:
y, X = dmatrices('sl ~ sx + yr + rk', data=data, return_type='dataframe')

In [ ]:
X.head() ##creating dummy variables

In [ ]:
y.head()