In [65]:
import pandas as pd
import pickle

In [83]:
with open("imdb_t6.pkl", 'r') as picklefile: 
    completed = pickle.load(picklefile)
with open("imdb_2", 'r') as picklefile: 
    completed2 = pickle.load(picklefile)

In [84]:
all_completed = pd.concat([completed, completed2], ignore_index=True)

In [85]:
all_completed.to_pickle('imdb_t6.pkl')

## Merge Tables

#### Oscars List
1. { ['YRRank*', 'Picture (click to view)', 'Studio', 'Box Office', 'Noms', 'Wins', 'Year'] } 
2. 1265 entries

#### Movie List 
1. { ['Rank', 'Movie Title', 'Studio', 'Total_Gross', 'Theaters', 'Opening', 'Theaters', 'Open', 'Close', 'Year'] } 
2. (2002-2016: 8338 entries, 1980-2002: 5381 entries)

#### IMDB Ratings
1. ['IMDB_Score','Users','Metascore','Director','Writers','Actors','Genres','Rating','Title']
2. 7727 rows

#### IMDB genre 
1. year, genres
2. 

#### ClassMate Data
1. [u'Unnamed: 0', u'Title', u'studio', u'TotalGross', u'Theatres',
       u'Opening', u'OpenDate', u'OpenMonth', u'OpenDay', u'Cast3',
       u'Released', u'Cast2', u'Cast1', u'Cast0', u'Writer', u'Director',
       u'ID', u'imdbID', u'Year', u'Rating', u'Runtime', u'Genre', u'Cast',
       u'Metacritic', u'imdbRating', u'imdbVotes', u'Poster', u'Plot',
       u'FullPlot', u'Language', u'Country', u'Awards', u'lastUpdated',
       u'Nominations', u'avg_imdbRating_Director', u'avg_imdbRating_Writer',
       u'avg_imdbRating_Cast0', u'avg_imdbRating_Cast1',
       u'avg_imdbRating_Cast2', u'avg_imdbRating_Cast3', u'datetime',
       u'AdjTotalGross', u'AdjOpening', u'LogTotalGross', u'LogTheatres',
       u'LogOpening'],
      dtype='object')
2. 3784 entries

#### Merge Mojo Movie List Data

In [146]:
with open("2002to2016movie_data.pkl", 'r') as picklefile: 
    m02_16 = pickle.load(picklefile)
with open("1980to2002movie_data.pkl", 'r') as picklefile: 
    m80_02 = pickle.load(picklefile)

In [151]:
m02_16 = m02_16.drop("Close_date",axis=1)

In [152]:
## PIPELINE
result = pd.concat([m02_16,m80_02])
result.to_pickle('mojo_movies.pkl')

#### Open_date to datetime Objects

In [162]:
result["Open"] = result["Open_date"] +"/"+ result["Year"].map(str)
result["Open"] = pd.to_datetime(result.Open)
result = result.drop('Open_date',axis=1)

In [164]:
result.head()

,Rank,Title,Studio,Total_Gross,Gross_no_Theaters,Opening,Opening_no_Theaters,Year,Open
1,1,Spider-Man,Sony,"$403,706,375",3876,"$114,844,116",3615,2002,2002-05-03
2,2,The Lord of the Rings: The Two Towers,NL,"$339,789,881",3622,"$62,007,528",3622,2002,2002-12-18
3,3,Star Wars: Episode II - Attack of the Clones,Fox,"$302,191,252",3161,"$80,027,814",3161,2002,2002-05-16
4,4,Harry Potter and the Chamber of Secrets,WB,"$261,988,482",3682,"$88,357,488",3682,2002,2002-11-15
5,5,My Big Fat Greek Wedding,IFC,"$241,438,208",2016,"$597,362",108,2002,2002-04-19

#### Dollar amounts to numbers

In [166]:
result["Opening"] = result["Opening"].str.replace('$','').str.replace(',','')
result["Total_Gross"] = result["Total_Gross"].str.replace('$','').str.replace(',','')

In [167]:
result.Opening = pd.to_numeric(result.Opening, errors='ignore')
result.Total_Gross = pd.to_numeric(result.Total_Gross, errors='ignore')
result.Opening_no_Theaters = pd.to_numeric(result.Opening_no_Theaters, errors='ignore')
result.Gross_no_Theaters = pd.to_numeric(result.Gross_no_Theaters, errors='ignore')

# type(result.Opening.values[0])
# type(result.Total_Gross.values[0])

In [168]:
result.to_pickle('processedMojo.pkl')

#### Oscar Data Processing

In [175]:
with open("oscars.pkl", 'r') as picklefile: 
    oscars = pickle.load(picklefile)

In [177]:
oscars.columns = ["YrRank","Title","Studio","Box_Office","Noms","Wins","Year"] 
oscars["Box_Office"] = oscars["Box_Office"].str.replace('$','').str.replace(',','')
oscars["Box_Office"] = pd.to_numeric(oscars["Box_Office"], errors='ignore')
oscars["Wins"] = pd.to_numeric(oscars["Wins"], errors='ignore')
oscars["Noms"] = pd.to_numeric(oscars["Noms"], errors='ignore')
oscars["YrRank"] = pd.to_numeric(oscars["YrRank"], errors='ignore')

In [188]:
oscars.to_pickle('oscars.pkl')

In [178]:
oscars.head()

   YrRank              Title Studio  Box_Office  Noms  Wins  Year
0      11    Ordinary People   Par.    54766923     7     4  1980
1      33               Tess   Col.    20093330     6     3  1980
2      27        Raging Bull    MGM    23334953     8     2  1980
3      32        Fame (1980)    MGM    21202829     6     2  1980
4      86  Melvin and Howard   Uni.     4309490     3     2  1980

#### IMDB Data Processing

In [182]:
all_completed["IMDB_Score"] = pd.to_numeric(all_completed["IMDB_Score"], errors='ignore')
all_completed["Users"] = all_completed["Users"].str.replace(',','')
all_completed["Users"] = pd.to_numeric(all_completed["Users"])

In [184]:
all_completed["Metascore"] = all_completed["Metascore"].str.replace('/100\n','')
all_completed["Metascore"] = pd.to_numeric(all_completed["Metascore"])

In [185]:
all_completed.head()

,IMDB_Score,Users,Metascore,Director,Writers,Actors,Genres,Rating,Title
0,7.3,516078,73,Sam Raimi,"(Stan Lee, Steve Ditko)","(Tobey Maguire, Kirsten Dunst, Willem Dafoe)","(Action, Adventure)",PG-13,Spider-Man
1,8.7,1037342,88,Peter Jackson,"(J.R.R. Tolkien, Fran Walsh)","(Elijah Wood, Ian McKellen, Viggo Mortensen)","(Adventure, Drama, Fantasy)",PG-13,The Lord of the Rings: The Two Towers
2,6.7,437662,54,George Lucas,"(George Lucas, Jonathan Hales)","(Hayden Christensen, Natalie Portman, Ewan McG...","(Action, Adventure, Fantasy)",PG,Star Wars: Episode II - Attack of the Clones
3,7.4,366162,63,Chris Columbus,"(J.K. Rowling, Steve Kloves)","(Daniel Radcliffe, Rupert Grint, Emma Watson)","(Adventure, Family, Fantasy)",PG,Harry Potter and the Chamber of Secrets
4,6.7,262736,59,M. Night Shyamalan,"(M. Night Shyamalan,)","(Mel Gibson, Joaquin Phoenix, Rory Culkin)","(Drama, Sci-Fi, Thriller)",PG-13,Signs

In [189]:
all_completed.to_pickle('imdb.pkl')

In [186]:
# with open("imdb_failed_movies.pkl", 'r') as picklefile: 
#     failed_movies = pickle.load(picklefile)

In [113]:
result.corr()

,Gross_no_Theaters,Opening,Opening_no_Theaters,Total_Gross,Year
Gross_no_Theaters,1.000000,0.711870,0.967296,0.706586,-0.076795
Opening,0.711870,1.000000,0.725978,0.890424,0.055142
Opening_no_Theaters,0.967296,0.725978,1.000000,0.658243,-0.050572
Total_Gross,0.706586,0.890424,0.658243,1.000000,-0.018419
Year,-0.076795,0.055142,-0.050572,-0.018419,1.000000

In [115]:
result.Gross_no_Theaters.corr(result.Opening_no_Theaters)

0.96729644014157723